/* ------------------------------------------------------------
Component
--------------------------------------------------------------*/
:root {
  /* Color */
  --baseColor: #000814;
  --navColor: #020c1f;
  --primaryColor: #a86eff;
  --cartColor: #00102e;
  --textColor: #fff;
  --transparant: rgba(2, 12, 31, 0.9);
  --gradientColor: linear-gradient(190.22deg, #5299ff 5.26%, #7e83ff 49.5%, #a86eff 92.36%);

  /* Text */
  --mainFont: "poppins", sans-serif;
  --headingFont: "Audiowide", cursive;
}
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: var(--mainFont);
  background: var(--baseColor);
}

a {
  color: var(--primaryColor);
  text-decoration: none;
}

a:hover {
  color: var(--primaryColor);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headingFont);
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: var(--baseColor);
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid var(--baseColor);
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: var(--cartColor);
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: var(--primaryColor);
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
}

#header.header-scrolled,
#header.header-inner-pages {
  background: var(--transparant);
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 60px;
}

#topline{
  background: var(--gradientColor);
  display: flex;
  align-items: center;
  position: fixed;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
  z-index: 997;
  width: 100%;
  height: 70px;
}


/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background: var(--navColor);
  min-height: 40px;
  margin-top: 72px;
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 68px;
  }
}

.breadcrumbs h2 {
  font-size: 28px;
  font-weight: 600;
  color: var(--textColor);
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs li{
  color: var(--textColor);
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: var(--textColor);
  content: "/";
}


/* -------------- News Content------------------------------ */
#news-content{
  width: 100%;
}

#news-content img{
  padding: 10;
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: all ease-in-out 0.4s;
}

#news-content p{
  color: var(--textColor);
  text-align: justify;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: var(--primaryColor);
}

.navbar .getstarted,
.navbar .getstarted:focus {
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 50px;
  color: #fff;
  font-size: 14px;
  border: 2px solid var(--primaryColor);
  font-weight: 600;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #fff;
  background: var(--gradientColor);
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: var(--transparant);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: var(--textColor);
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: var(--primaryColor);
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
  color: var(--gradientColor);
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
  color: var(--primaryColor);
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 80vh;
  background: var(--baseColor);
}

#hero .container {
  padding-top: 72px;
}

#hero h1 {
  margin: 16px 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
  text-shadow: -12px -10px 70px rgba(168, 110, 255, 0.4);
}

#hero h6 {
  color: var(--textColor);
  font-family: var(--mainFont);
  margin-bottom: 50px;
  font-weight: 300;
  font-size: 20px;
}

#hero .btn-get-started {
  font-family: "poppins";
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px 11px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px 0 0 0;
  color: #fff;
  border: 2px solid var(--primaryColor);
}

#hero .btn-get-started:hover {
  background: var(--gradientColor);
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
  #hero {
    height: 100vh;
    text-align: center;
  }

  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }

  #hero .hero-img {
    text-align: center;
  }

  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 30px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 16px;
    margin-bottom: 10px;
  }

  #hero .hero-img img {
    width: 70%;
  }
}

#hero .btn-get-started {
  margin-bottom: 40px;
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }

  #hero .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
    margin-bottom: 40px;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background: var(--gradientColor);
}

.section-title {
  text-align: center;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 30px;
  position: relative;
  color: var(--textColor);
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 12px;
  background: var(--gradientColor);
  border-radius: 10px;
  bottom: 4px;
  left: calc(50% - 60px);
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients {
  padding: 12px 0;
  text-align: center;
}

.clients img {
  max-width: 45%;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 15px 0;
  filter: grayscale(100);
}

.clients img:hover {
  filter: none;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .clients {
    margin-top: 20px;
  }
  .clients img {
    max-width: 40%;
  }
}

/*--------------------------------------------------------------
# Topup
--------------------------------------------------------------*/
.topup img {
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
  padding: 50px 16px;
  transition: all ease-in-out 0.4s;
}

.topup img:hover {
  transform: scale(1.13);
  filter: brightness(1.15);
}

#topup .box{
  padding: 0;
  width: 20%;
  margin-top: 40px;
}

#topup .card-body{
  background: var(--cartColor);
  color: var(--textColor);
  border-radius: 10px;
}

#topup .card-body:hover{
  box-shadow: 0px 0px 10px var(--primaryColor);
}

#topup .card-body badge{
  background-color: var(--gradientColor);
  padding-bottom: 20px;
}

#topup .card-body span{
  font-size: 20px;
}

#topup .btn{
  background: none;
  margin-right: 4px;
  color: var(--textColor);
  border-radius: 4px;
  padding: 6px 12px;
  border: 1px solid var(--primaryColor);
}

#topup .add{
  background: var(--primaryColor);
}

#topup .btn:hover{
  background: var(--gradientColor);
  transform: scale(1.02);
}


/*--------------------------------------------------------------
# Table Cart
--------------------------------------------------------------*/
.cartTable{
  margin: 30px;
}

/*--------------------------------------------------------------
# Detail Item
--------------------------------------------------------------*/
.card-body{
  background: var(--baseColor);
  padding-top: 40px;
}

.card-body .table{
  color: var(--textColor);
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about {
  background: linear-gradient(rgba(72, 40, 90, 0.9), rgba(45, 68, 120, 0.9)), url("../img/about-bg.jpg") fixed center center;
  background-size: cover;
  padding: 120px 0;
}

.about h3 {
  padding-top: 10px;
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

.about p {
  color: #fff;
}

@media (max-width: 1024px) {
  .about {
    background-attachment: scroll;
  }

  .about img {
    align-items: center;
  }
}

@media (max-width: 992px) {
  .about img {
    max-width: 60%;
    align-items: center;
  }
}

@media (max-width: 767px) {
  .about img {
    max-width: 80%;
    align-items: center;
  }
}

@media (max-width: 420px) {
  .about img {
    max-width: 100%;
    align-items: center;
  }
}

/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.news .row {
  padding-top: 40px;
  transition: all 0.4s ease-in-out;
}

.news img:hover {
  transform: scale(1.12);
  filter: brightness(1.15);
}

@media (max-width: 992px) {
  .news img {
    max-width: 60%;
    margin: 0 auto 30px auto;
  }
}

@media (max-width: 767px) {
  .news img {
    max-width: 80%;
    margin: 0 auto 30px auto;
  }
}

@media (max-width: 420px) {
  .news img {
    max-width: 100%;
    margin: 0 auto 30px auto;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  margin-top: 30px;
  font-size: 14px;
  background: var(--cartColor);
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: var(--navColor);
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 28px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 600;
  color: #37517e;
}

#footer .footer-top .footer-contact p {
  margin-top: 18px;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: var(--mainFont);
  color: var(--textColor);
}

#footer .footer-top p {
  color: var(--textColor);
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: var(--primaryColor);
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: var(--primaryColor);
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: var(--textColor);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: var(--primaryColor);
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: var(--cartColor);
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: var(--gradientColor);
  color: #fff;
  text-decoration: none;
}

#footer .footer-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
}

#footer .copyright {
  float: left;
}

#footer .credits {
  float: right;
  font-size: 13px;
}

#footer .credits a {
  transition: 0.3s;
}

@media (max-width: 768px) {
  #footer .footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #footer .copyright,
  #footer .credits {
    text-align: center;
    float: none;
  }

  #footer .credits {
    padding-top: 4px;
  }
}
